 <!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>Users List</h1>
    <ul>
        <% if (myResult && myResult.length > 0) { %>
            <% myResult.forEach(function(user) { %>
                <li><%= user %></li>
            <% }); %>
        <% } else { %>
            <li>No users found</li>
        <% } %>
    </ul>
</body>
</html> 